@layout('layout/main')
@section('content')
<section class="hero-image text-center">
  <h1 class="hero-title text-primary">Welcome</h1>
  <div class="box-highlight m-auto">
    <h3 class="text-highlight">BALAI LATIHAN KERJA KOMUNITAS</h3>
  </div>
  <p class="subtitle">Pondok Pesantren Baitul Hidayah</p>
  <div style="height: 75vh" class="d-flex align-items-end justify-content-center"><a href="/register" class=" btn btn-light btn-primary-1">Reg Now</a></div>
</section>
@endsection